* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

h1 {
  font-family: Verdana, sans-serif;
  font-weight: 100;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  z-index: 9000;
}

#dialog-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9001;
}
.dialog {
  width: 40vw;
  height: 20vw;
  background: #a6ce39;
  position: absolute;
  left: 30vw;
  top: 20vh;
  z-index: 9002;
}

#top-bar {
  width: 100vw;
  height: 10vh;
  padding-left: 1vw;
  line-height: 10vh;
  background: #a6ce39;
  display: inline-flex;
  justify-content: space-between;
}

.button {
  width: 15vw;
}
.init {
  background: gray;
}
.connect {
  background: green;
}

.disconnect {
  background: red;
}

.deviceInfo {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.deviceInfo > span {
  padding: 0 1vw;
  font-family: Verdana, sans-serif;
}

.footer {
  width: 100vw;
  height: 5vh;
  position: fixed;
  bottom: 0;
  background: #a6ce39;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.buttonContainer {
  width: 30vw;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.buttonContainer > button {
  border-right: 1px solid gray;
  padding: 0 1vw;
}



button:hover{
    background: #D4D5C7;
    cursor: pointer;
}
